* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header an navigation style */
.nav_tittle {
    font-weight: 800;
    font-size: 45px;
}

section {
    margin-top: 130px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.btn-primary {
    color: #FFFFFF;
    font-size: 20px;
    border: 0;
    padding: 10px 35px;
    font-weight: 7000;
    height: 54px;
    border-radius: 5px;
    background: #FD6E0A;
}

.text-primary {
    color: #FD6E0A;
}

/* banner styles */
.banner {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.banner-subtittle {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-tittle {
    font-weight: 700;
    font-size: 85px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    background: #fff8f3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* about section styules */
.about {
    border-radius: 10px;
    background-color: #fff8f3;
    padding: 130px 150px;
    text-align: center;
}

.section-tittle {

    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;
}

.section-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about.info-tittle {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* whaty i do styles */
.What-I-Do {
    margin-top: 130px;

}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;

}

.skill-tittle {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: var(--dark-03, #757575);
}

/* resume styles */
.resume-container {
    display: flex;
    gap: 24px;
}

.resume .tittle {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume .sub-tittle {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume .description {
    color: #757575;
}

.resume-button {
    text-align: center;
    margin-top: 50px;
}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* contact styles */
.contac .section-tittle {
    text-align: left;
}

.contact {
    display: flex;

    gap: 100px;
    background: #fff8f3;
    padding: 130px 200px;
}

.contact input[type="text"],
[type="email"],
textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

input {
    height: 64px;
}

.contact a {
    text-decoration: none;
}